@page "/account"
@using Microsoft.AspNetCore.Hosting
@using System.IO
@using Microsoft.AspNetCore.Components
@using LibrairieDeComposants;
@using Data.Dal;
@using Data.Services;


@inject IWebHostEnvironment env
@inject CalendrierStateManager EtatCalendrier
@inject CalendrierContext calendrierContext
@inject NavigationManager MyNavigationManager




<div class="container">


    @if (EtatCalendrier.CurrentUser != null)
    {

        @*<div class="row"><h1>Paramètres de mon compte</h1></div>*@

        <div class="row">

            <div class="card border-dark mb-3 text-center" style="width: 100%;">
                <div class="card-header">Paramètres de mon compte</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Login : @(EtatCalendrier.CurrentUser.Login)</h5>
                    <div class="col d-flex justify-content-center">
                        <span>
                            <h5 class="card-title">Avatar : </h5>
                            <img src="@(EtatCalendrier.CurrentUser.ProfilImage)" style="width: 100%;">
                        </span>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <span>
                            <h5 class="card-title">Séléctionner un nouvel avatar : </h5>
                        </span>
                    </div>
                    <div class="row">
                        @foreach (var fileinfo in files)
                        {
                            <div class="col-sm-1">
                                <input type="radio" id="@(fileinfo)"
                                       name="avatar"
                                       value="@(fileinfo)"
                                       @onchange="RadioSelection"
                                       checked=@(RadioValue.Equals(EtatCalendrier.CurrentUser.ProfilImage,StringComparison.OrdinalIgnoreCase))
                                       style="visibility: hidden;">
                                <label for="@(fileinfo)"><img src="/Images/Icons/Avatar/@(fileinfo)" alt="I'm sad" /></label>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


    }
    else
    {
        <div class="row">
            <p>Vous devez vous connecter</p>
        </div>
    }


</div>

@code {

    private List<String> files;
    private String avatarFolder = "\\Images\\Icons\\Avatar";
    private String avatarFolderWeb = "/Images/Icons/Avatar/";

    protected override async Task OnParametersSetAsync()
    {

        if (EtatCalendrier.CurrentUser == null)
        {
            MyNavigationManager.NavigateTo("login");
        }

        files = new List<String>();
        String baseURL = env.WebRootPath;
        //Path.Separator retourne ';' ?????
        baseURL = baseURL + avatarFolder;

        DirectoryInfo directory = new DirectoryInfo(baseURL);
        files = directory.GetFiles("*.svg").Select(f => f.Name).ToList();

        await base.OnParametersSetAsync();
    }

    string RadioValue = "aspnetcore";

    void RadioSelection(ChangeEventArgs args)
    {
        RadioValue = args.Value.ToString();
        EtatCalendrier.CurrentUser.ProfilImage = avatarFolderWeb + RadioValue;

        EntityFrameworkStorage store = new EntityFrameworkStorage(calendrierContext);
        store.SaveUserPicture(EtatCalendrier.CurrentUser);

    }
}
